# Data Scientist vs size of Datasets (France experiment 2016)

In [1]:
import pandas as pd
DS = pd.read_csv("C:/Users/Jhonnatan/Documents/GitHub/Impact-of-AI-in-organizations/Datasets/Data_Scientists_France.csv")
DS.head()

,ID,DS_1,DS_2,DS_3,DS_4,DS_5,W_1,W_2,W_3,W_4,W_5,W_6,W_7,W_8,W_9
0,1,No,No,Large,No,Yes,Intel,Yes,1400,4,32,No,Python,Python,Python
1,2,No,No,Large,No,No,AMD,No,800,2,16,No,Python,Python,Python
2,3,No,No,Medium,No,Yes,Intel,No,2400,4,24,No,R,R,R
3,4,No,No,Large,No,Yes,Intel,Yes,1000,2,4,No,R,R,R
4,5,No,Yes,Medium,Yes,Yes,Intel,No,900,2,12,No,"R, Python",R,R